/* This is for the .html in the HTML2 writer */
body {
    font-family: Helvetica, sans-serif;
    font-size:14px;
}
h1 {
    text-align: center;
}
a {
    color:navy;
    text-decoration: none;
    border-bottom:1px dotted navy;
}
a:hover {
    text-decoration:none;
    border-bottom: 0;
    color:#0000B9;
}
hr {
    border: 1px solid #ccc;
}
/* The (nick, time) item pairs, and other body text things. */
.details {
    font-size: 12px;
    font-weight:bold;
}
/* The 'AGREED:', 'IDEA', etc, prefix to lines. */
.itemtype {
    font-style: normal;    /* un-italics it */
    font-weight: bold;
}
/* Example: change single item types.  Capitalized command name.
/* .TOPIC  {  color:navy;  } */
/* .AGREED {  color:lime;  } */
